<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/index_styles.css">
    <title>Document</title>
</head>
<body>

    <h1 style="text-align: center;">FORUM:</h1>

    <div class="test" style="text-align: center;">
        <a href="/log_in"><input type="button" value="Login"></a>
        <a href="/sign_up"><input type="button" value="Register"></a>
    </div>
   
    <br>
    <br>

    <h1 style="text-align: center;">POSTS:</h1>
    
    
</body>
</html>