<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/login_register_styles.css">
    <title>Log In/Register Page</title>
</head>
<body>
    <div class="form-container">

        <p class="title">Welcome</p>
        <form action="">
            <input type="text" class="input" placeholder="Email">
            <input type="password" class="input" placeholder="Password">

            <p class="forgot-password">
                <a href="#" class="forgot-password-label">Forgot Password</a>
            </p>

            <button class="btn login-btn">Log in</button>
        </form>
        <p class="signup-link">
          Don't have an account? <a href="#" class="sing-up label">Sing Up</a>  
        </p>

        
    </div>

    
</body>
</html>